<div style="height: 200px; padding: 90px">
	<h1 style="color: #e53238; display: inline">e</h1><h1 style="color: #0064d2; display: inline">r</h1><h1 style="color: #f5af02; display: inline">a</h1><h1 style="color: #86b817; display: inline">y</h1>
<p style="display: inline; padding: 10px; font-size: 20px; float: right">Is a market place where you can buy products or sell products to buyers from around the globe.</p>
</div>
