
<% if current_user %>
<div class= "add">
<h1 style="display: none; text-align: center"> <strong>Welcome to <h1 style="color: #e53238; display: inline">e</h1><h1 style="color: #0064d2; display: inline">r</h1><h1 style="color: #f5af02; display: inline">a</h1><h1 style="color: #86b817; display: inline">y</h1></strong></h1>
<div class="sign" style="display: none">
 	<%= link_to "Inventory", products_path, class:"btn btn-default btn-lg btn-block" %>
 </div>
 <div class="test" style="display: none">
 	<%= link_to "All Products", products_all_path, class:'btn btn-success btn-lg btn-block' %>
 </div>
</div>
 <%else%>
 <div class= "add ">
 <h1 style="display: none; text-align: center"> <strong>Welcome to <h1 style="color: #e53238; display: inline">e</h1><h1 style="color: #0064d2; display: inline">r</h1><h1 style="color: #f5af02; display: inline">a</h1><h1 style="color: #86b817; display: inline">y</h1></strong></h1>
 <div class="sign" style="display: none">
 	<%= link_to "Sign In", new_user_session_path, class:"btn btn-default btn-lg btn-block" %>
 </div>
 <div class="test" style="display: none">
 	<%= link_to "Sign Up", new_user_registration_path, class:'btn btn-success btn-lg btn-block' %>
 </div>
</div>
<iframe src="http://cmgmail-staging.ceatus.com/review_widgets/4/schema?type=0" style="border: 0; height:420px; width:315px;"></iframe>
</div>
<%end%>
<script>
	$(document).ready( function() {
	  		$("h1").show().addClass("bounceInDown animated");
	  		$(".sign").show(900, function(){
	  			$(".test").show(1100);
	  	});
	});
 </script>

