@import "bootstrap-sprockets";
@import "bootsy";
@import "bootstrap";


.nav li {
	margin-top: 50px;
}
.nav li a:hover {
  background-color: #A8A8A8;
}
.input-append{
	margin-top: 5px;
	position:absolute;
	top:0;
	right:0;

}
.h_line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.rdnbtn{
  margin-left: 10px;
}
body {
  padding: 10px;
  background: url(curvy-slider-grass-background.jpg) no-repeat center center fixed;
  background-size: cover;
  /*http://data.hdwallpapers.im/cityscapes_urban_buildings_cities_desktop_background_images.jpg*/
}
.container {
	background-color: #FFF;
	/*opacity: 0.9;*/

}
.image {
	float:left;
	padding:5px;
}
#test {
    margin-left: auto;
    margin-right: auto;
}
.img-circle {
	opacity: 0.4;
}
.img-circle:hover {
	opacity: 1;
}

.nav {
	background-color: transparent;
}


.user-info {
  margin-top: 9px;
}