<h1>Manage Inventory <% if policy(Product.new).create? %> <%= link_to "Add Item", new_product_path, class: 'btn btn-success'%><%end%></h1>
<br>
    <table class="table table-hover">
      <tr>
    		<th>#</th>
            <th>Image</th>
    		<th>Name</th>
        <th>Condition</th>
        <th>Quantity</th>
        <th>UPC</th>
        <th>Seller</th>
    		<th>Price</th>
    		<th>Action</th>
    	</tr>
    		<%= render partial: "product", collection: @products_all%>
	</table>